.header__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list{
    list-style: none;
    width: 385px;
    display: flex;
    justify-content: space-between;
}
.navbar__link{
   padding-top: 50px;
   font-weight: 700;
   font-style: 12px;
   line-height: 15px;
    color:#83888F;
   text-decoration: none;
}
.navbar__link:hover{
    color: #333D4B;
}