.about{
    background-image: url(../img/about_us_bg.png);
    background-repeat: no-repeat;
    background-position-x: calc(50%);
}
.about__title{
    font-family: 'Fraunces' ;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    padding-top: 137px;
    padding-left: 85px;
    margin-bottom: 24px;
    color: #FEFCF7;
}
.about__text{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 137px;
    padding-left: 85px;
    width: 495px;
    color: #FEFCF7;
}