.collection{
    padding-top: 80px;
    background-image: url("../img/bd__text.png");
    background-repeat: no-repeat;
    background-position-x: calc(50%);
    background-position-y: calc(50% - 110px);
}
.list{
    margin-top: 195px;
   display: flex;
   gap: 30px; 
   justify-content: center;
   list-style: none;
}
.list__title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color:#333D4B;
    margin-top: 71px;
    text-align: center;
    margin-bottom: 24px;
}
.list__text{
    font-size: 16px;
    line-height: 26px;
    color:#333D4B;
    width: 255px;
    text-align: center;
}