.commitment{
    margin-top: 168px;
    display: flex;
    gap: 125px;
}
.commitment__title{
    padding-top: 90px;
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
     color: #333D4B;
     margin-bottom: 32px;
}
.commitment__text{
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
    width: 540px;
}