.hero{
    border-radius: 10px;
   background-image: url("../img/bg_ing.png");
   background-repeat: no-repeat;
   width: 1280px;
   background-size: 100%;
}
.hero__div{
    margin-top: 50px;
    padding-top: 100px;
    margin-left: 86px;
}
.hero__title{
    font-family: 'Fraunces';
    color: #FEFCF7;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    width: 490px;
}
.hero__text{
   font-size: 16px;
   line-height: 16px;
   color: #FEFCF7;
   width: 400px;
   margin-bottom: 56px;
   margin-top: 32px; 
}
.hero__bottun{
    font-family: 'Fraunces';
    color:#FEFCF7;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    background-color: #0E8784;
    padding: 15px 31px 16px 31px;
    border-radius: 6px;
    margin-bottom: 100px;
}
.hero__bottun:hover{
    background-color: #66D2CF;
}