.plan{
    background-image: url("../img/create_main_bg.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
    
}
.plan__title{
    padding-top: 125px;
    margin-bottom: 32px;
    margin-left: 86px;
    font-family: 'Fraunces';
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    color: #FEFCF7;
}
.plan__text{
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    width: 445px;
    margin-left: 86px;
    padding-bottom: 134px;
}