.quality{
    height: 474px;
    display: flex;
    margin-top: 300px;
    background-color: #2C343E;
    gap: 100px;
    margin-bottom: 170px;
}
.quality__text__div{
    padding-top: 85px;
    margin-left: 85px;
}
.quality__title{
    color:#FEFCF7;
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 32px;
}
.quality__text{
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    width: 500px;
}
.quality__img{
    margin-top: -85px;
}