body{
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), 
         url('../fonts/barlow-v12-latin-regular.woff') format('woff'); 
  }

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
         url('../fonts/barlow-v12-latin-700.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/barlow-v12-latin-900.woff2') format('woff2'),
         url('../fonts/barlow-v12-latin-900.woff') format('woff'); 
  }
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
     background-color: #F2F2F2;
}
.cotaintr{
    margin: 0 auto;
    padding: 0 20px;
     width: 1280px;
}
.header__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list{
    list-style: none;
    width: 385px;
    display: flex;
    justify-content: space-between;
}
.navbar__link{
   padding-top: 50px;
   font-weight: 700;
   font-style: 12px;
   line-height: 15px;
    color:#83888F;
   text-decoration: none;
}
.navbar__link:hover{
    color: #333D4B;
}
.hero{
    border-radius: 10px;
   background-image: url("../img/bg_ing.png");
   background-repeat: no-repeat;
   width: 1280px;
   background-size: 100%;
}
.hero__div{
    margin-top: 50px;
    padding-top: 100px;
    margin-left: 86px;
}
.hero__title{
    font-family: 'Fraunces';
    color: #FEFCF7;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    width: 490px;
}
.hero__text{
   font-size: 16px;
   line-height: 16px;
   color: #FEFCF7;
   width: 400px;
   margin-bottom: 56px;
   margin-top: 32px; 
}
.hero__bottun{
    font-family: 'Fraunces';
    color:#FEFCF7;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    background-color: #0E8784;
    padding: 15px 31px 16px 31px;
    border-radius: 6px;
    margin-bottom: 100px;
}
.hero__bottun:hover{
    background-color: #66D2CF;
}
.collection{
    padding-top: 80px;
    background-image: url("../img/bd__text.png");
    background-repeat: no-repeat;
    background-position-x: calc(50%);
    background-position-y: calc(50% - 110px);
}
.list{
    margin-top: 195px;
   display: flex;
   gap: 30px; 
   justify-content: center;
   list-style: none;
}
.list__title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color:#333D4B;
    margin-top: 71px;
    text-align: center;
    margin-bottom: 24px;
}
.list__text{
    font-size: 16px;
    line-height: 26px;
    color:#333D4B;
    width: 255px;
    text-align: center;
}
.why__choose__us{
    margin-top: 190px;
    position: relative;
    height: 585px;
    background-color: #2C343E;
}
.why__choose__us__title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-style: 40px;
    line-height: 48px;
    padding-top: 110px;
    color: #fff;
    text-align: center;
    margin-bottom: 32px;
}
.why__choose__us__text{
    margin-left: 370px;
    width: 500px;
    text-align: center;
    font-style: 16px;
    line-height: 26px;
    color:#FEFCF7;
}
.why__choose__us__list{
    margin-top: 86px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.why__choose__us__item{
    width: 350PX;
    background-color: #0E8784 ;
}
.bg1{
    background-image: url("../img/list__bg1.svg");
    background-repeat: no-repeat;
    background-position-x: calc(50%);
    background-position-y:  72px;
}
.bg2{
    background-image: url("../img/list__bg2.svg");
    background-repeat: no-repeat;
    background-position-x: calc(50%);
    background-position-y:  72px;
}
.bg3{
    background-image: url("../img/list__bg3.svg");
    background-repeat: no-repeat;
    background-position-x: calc(50%);
    background-position-y:  72px;
}
.why__choose__us__item__title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
    padding-top: 200px;
    text-align: center;
}
.why__choose__us__item__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    text-align: center;
    width: 255px;
    margin-left: 47px;
    margin-top: 27px;
    margin-bottom: 48px;
}
.how__it__works__div{
    width: 1045px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
.how__it__works{
    padding-top: 200px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-style: 24px;
    line-height: 32px;
    color: #83888F ;
}
.line{
    z-index: -1;
    display: flex;
    justify-content: space-between;
   width: 760px;
   height: 1px;
   background-color:  #FDD6BA; 
   margin-top: 95px;
   margin-bottom: 82px;
}
.oval{
    background-color: #FEFCF7;
    margin-top: -15px;
    border-radius: 50%;
    border: 2px solid  #0E8784 ;
    width: 31px;
    height: 31px;
}
.how__it__works__list{
    list-style: none;
    display: flex;
    gap: 95PX;
    margin-bottom: 64px;
}
.how__it__works__itme{
    width: 285px;
}
.how__it__works__strong{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA ;
    margin-bottom: 32px;   
}
.how__it__works__list__title{
    width: 175px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color:  #333D4B;
    margin-bottom: 43px;
}
.how__it__works__text{
    width: 255px;
    font-style: 16px;
    line-height: 26px;
    color:#333D4B;
}
.how__it__works__div__button{
    font-family: 'Fraunces';
    font-weight: 900;
    font-style: 18px;
    line-height: 25px;
    color: #FEFCF7;  
    padding: 15px 31px 16px 31px;
    background-color: #0E8784;
    border-radius: 6px;
    border: none;
    margin-bottom: 200px;
}
.how__it__works__div__button:hover{
    background-color: #66D2CF;
}
.site__footer{
    background-color: #2C343E;
}
.main__footer__div{
    padding-top: 47px;
    padding-bottom: 37px;
    display: flex;
    gap: 391px;
}
.footer__logo__with__list{
    width: 622px;
    display: flex;
    justify-content: space-between;
}
.footer__list{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 32px;
}
.footer__item{
   position: relative;
   bottom: 10px;
}
.footer__list__link{
   text-decoration: none; 
   font-weight: 700;
   font-style: 12px;
   line-height: 15px;
   color: #83888F;
}
.footer__list__link:hover{
 color: #FEFCF7;
}
.footer__link__list{
    display: flex;
    list-style: none;
    gap: 24px;
}
.about{
    background-image: url(../img/about_us_bg.png);
    background-repeat: no-repeat;
    background-position-x: calc(50%);
}
.about__title{
    font-family: 'Fraunces' ;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    padding-top: 137px;
    padding-left: 85px;
    margin-bottom: 24px;
    color: #FEFCF7;
}
.about__text{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 137px;
    padding-left: 85px;
    width: 495px;
    color: #FEFCF7;
}
.commitment{
    margin-top: 168px;
    display: flex;
    gap: 125px;
}
.commitment__title{
    padding-top: 90px;
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
     color: #333D4B;
     margin-bottom: 32px;
}
.commitment__text{
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
    width: 540px;
}
.quality{
    height: 474px;
    display: flex;
    margin-top: 300px;
    background-color: #2C343E;
    gap: 100px;
    margin-bottom: 170px;
}
.quality__text__div{
    padding-top: 85px;
    margin-left: 85px;
}
.quality__title{
    color:#FEFCF7;
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 32px;
}
.quality__text{
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    width: 500px;
}
.quality__img{
    margin-top: -85px;
}
.headquarters{
    padding-bottom: 168px;
    width: 1045px;
    margin: 0 auto; 
}
.headquarters__title{
    margin-top: 170px;
    font-family: 'Fraunces';
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    color: #83888F;
}
.headquarters__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 75px;
}
.headquarters__item{
    display: flex;
    flex-direction: column;
}
.headquarters__list__title{
    margin-top: 45px;
    margin-bottom: 24px;
    font-family: Fraunces 9pt;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    color: #333D4B;
}
.headquarters__list__link{
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    text-decoration: none;
}
.headquarters__list__mail{
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    text-decoration: none;
}
.headquarters__list__tel{
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    text-decoration: none;
}
.plan{
    background-image: url("../img/create_main_bg.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
}
.plan__title{
    margin: 125px 0 32px 86px;
    font-family: 'Fraunces';
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    color: #FEFCF7;
}
.plan__text{
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}
.sd__list{
    margin-top: 140px;
    color: #2C343E;
    border-radius: 10px;
}
.sd__list__line{
    width: 790px;
    height: 1px;
    background-color: #FDD6BA;
    padding-top: 128px;
    margin-left: 85px;
    margin-bottom: 67px;
    z-index: -1;
}
.sd__list__oval{
    width: 29px;
    height: 29px;
    border: 2px solid #0E8784;
    margin-top: -15px;
    border-radius: 50%;
}
.sd__list__list{
    display: flex;
    justify-content: space-between;
    width: 1045px;
    margin: 0 auto;
}
.sd__list__strong{
    font-family: 'Fraunces';
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    color:#FDD6BA;
}
.sd__list__title{
    font-family: 'Fraunces';
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    color: #FEFCF7; 
    margin-top: 38px;
    margin-bottom: 43px;
}
.sd__list__text{
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    padding: bottom 100px; ;
}
.thre{
    display: flex;
    margin-right: 150px;
    margin-top: 150px;
}
.thre__item{
    width: 185px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.thre__list__strong{
    font-family: 'Fraunces';
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    color:#83888F;   
}
.thre__list__text{
    font-family: 'Fraunces';
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    color:#83888F; 
}
.thre__list__text:hover{
    color: #333D4B;
}
.main__thre__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main__thre__list__div{
    display: flex;
    justify-content: space-between;
}
.main__thre__list__title{
    align-items: center;
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    color: #83888F;
}
.thre__inner__list{
    display: flex;
    justify-content: space-between;
    width: 228px;
    height: 250px;
    background-color: #F4F1EB;
    border-radius: 8px;
}
.main__thre__list{
    width: 730px;
}



